---
layout: default
---

<h1>{{ page.title }}</h1>

<div id="spa">
{{ content }}
</div>

<script style="text/javascript">
  var spa = document.getElementById('spa');
  var allDT = spa.getElementsByTagName('dt');
  for (dt of allDT) {
    dt.onclick = function(event) {
      var ddToToggle = this.nextElementSibling;
      for (dd of document.getElementById('spa').getElementsByTagName('dd')) {
        if (dd != ddToToggle) {
          dd.style.display = 'none';
        }
      }
      if (ddToToggle.style.display == 'block') {
        ddToToggle.style.display = 'none';
      } else {
        ddToToggle.style.display = 'block';
      }

      event.preventDefault();
    }
    dt.ontouchend = dt.onclick;
  }
</script>