---
layout: default
---

<h1>{{ page.title }}</h1>

<div id="spa">
{{ content }}
</div>

<script style="text/javascript">
  let spa = document.getElementById('spa');
  let allDT = spa.getElementsByTagName('dt');

  for (let i = 0; i < allDT.length; i++) {
    let dt = allDT[i];
    let dd = dt.nextElementSibling;

    // Inser an "anchor div". It's positioned fixed at the top, so there is no jumping behaviour.
    let anchorDiv = document.createElement('div');
    dd.parentElement.insertBefore(anchorDiv, dd);
    anchorDiv.classList.add('anchor');
    anchorDiv.id = 'dd' + i;

    // Insert an <a /> tag around the <dt /> tag, which will toggle the display CSS value of the <dd /> below it. Toggling is done by using :target.
    let a = document.createElement('a');
    a.innerHTML = dt.innerHTML;
    a.href = '#' + anchorDiv.id;
    dt.innerHTML = '';
    dt.appendChild(a);

    a.onclick = function(event) {
      // Add onclick behaviour for collapsing the harmonica when we click on the already opened item.
      if (this.href.substring(this.href.indexOf('#')) == window.location.hash) {
        window.location.hash = '#/';
        event.preventDefault();
      }
    }
  }
</script>
